<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">2.1 - Pedidos</h1>
    </div>
    <div *ngFor="let pedido of pedidos" class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="opcao-titulo"> Pedido Nº #{{ pedido.id_pedido }} - {{ pedido.created_at | date:'dd/MM/yyyy, h:mm a' }}</span>
        </div>
        <div class="panel-body">
          <p><span class="opcao-titulo">Cliente: </span>{{ pedido.cliente.name }}</p>
          <p><span class="opcao-titulo">Telefone: </span>{{ pedido.cliente.phone }}</p>
          <p><span class="opcao-titulo">Endereço: </span>{{ pedido.endereco }}</p>
          <p *ngIf="pedido.tipo_pagamento == 'cartao'"><span class="opcao-titulo">Tipo Pag.: Cartão</span></p>
          <p *ngIf="pedido.tipo_pagamento == 'dinheiro'"><span class="opcao-titulo">Tipo Pag.: Dinheiro</span></p>
          <p *ngIf="pedido.valor_receber_dinheiro"><span class="opcao-titulo">Dinheiro: </span>{{ pedido.valor_receber_dinheiro | currency :'BRL'}}</p>
          <p *ngIf="!pedido.valor_receber_dinheiro"><span class="opcao-titulo">Dinheiro: </span>{{ 0 | currency :'BRL' }}</p>
          <p><span class="opcao-titulo">Troco: </span>{{ pedido.valor_troco_dinheiro | currency :'BRL' }}</p>
          <p><a (click)="btnDetalhesPedido(pedido, pedidoDetalhes)">Detalhes do Pedido</a></p>

          <div class="row">
            <div class="col-lg-6 text-left">
              <button type="button" class="btn btn-success" (click)="btnAceitarPedido(pedido)"><i class="fa fa-check" aria-hidden="true"></i> Aceitar</button>
            </div>
            <div class="col-lg-6 text-right">
              <button type="button" class="btn btn-danger" (click)="btnRecusarPedido(pedido)"><i class="fa fa-times" aria-hidden="true"></i> Recusar</button>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="opcao-titulo">Total: {{ pedido.valor_total | currency :'BRL' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #pedidoDetalhes>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Pedido Nº #{{ pedido.id_pedido }} - Total: {{ pedido.valor_total | currency :'BRL' }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-6" *ngFor="let item of pedido.pedido_itens">
        <div class="well">
          <p><span class="opcao-titulo">Produto:</span>  {{ item.produto_nome }}</p>
          <p><span class="opcao-titulo">Quantidade:</span>{{ item.qtde }}</p>
          <p><span class="opcao-titulo">Preço Unitário: </span>{{ item.preco_unitario | currency :'BRL' }}</p>
          <p><span class="opcao-titulo">Preço Total: </span>{{ item.preco_total | currency :'BRL' }}</p>
          <p><span class="opcao-titulo">Acréscimos : </span><span *ngIf="item.incrementos">{{ item.incrementos_item }}</span>
            <span *ngIf="!item.incrementos">Sem Acréscimos</span>
          </p>
          <p><span class="opcao-titulo">Observação: </span><span *ngIf="item.observacao">{{ item.observacao }}</span>
            <span *ngIf="!item.observacao">Sem Observação</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
