<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          1.1 - Categorias
        </div>
        <div class="panel-body">
          <form [formGroup]="categoriaForm" novalidate (ngSubmit)="submitCategoria()">

            <div class="row form-group">
              <div class="col col-md-5">
                <label for="decricao" class=" form-control-label">Descrição</label>
                <input type="text" id="descricao" class="form-control" formControlName="descricao" maxlength="50">
              </div>

              <div class="col col-md-2">
                <label for="alteracao" class=" form-control-label">Alteração</label>
                <select name="alteracao" id="alteracao" class="form-control" formControlName="alteracao">
                  <option value="1">Sim</option>
                  <option value="0">Não</option>
                </select>
              </div>

              <div class="col col-md-2">
                <label for="incremento" class=" form-control-label">Incremento</label>
                <select name="incremento" id="incremento" class="form-control" formControlName="incremento">
                  <option value="1">Sim</option>
                  <option value="0">Não</option>
                </select>
              </div>

              <div class="col col-md-2">
                <label for="decricao" class=" form-control-label">Ordem</label>
                <input type="number" id="ordem" class="form-control" formControlName="ordem" >
              </div>

            </div>
            <div class="row">

              <div class="col col-md-2">
                <button type="submit" class="btn btn-success" [disabled]="!categoriaForm.valid">Salvar</button>
              </div>

              <div class="col col-md-2">
                <button type="button" class="btn btn-secondary" (click)="refreshForm()">Cancelar</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div> <!-- /.col-lg-12 -->
  </div> <!-- /.row -->

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Dados
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Cód.</th>
                  <th scope="col" class="text-center">Descrição</th>
                  <th scope="col" class="text-center">Incremento</th>
                  <th scope="col" class="text-center">Ordem</th>
                  <th scope="col" class="text-center">Alteração</th>
                  <th scope="col" class="text-center">Editar</th>
                  <th scope="col" class="text-center">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let categoria of categorias | paginate: { itemsPerPage: 10, currentPage: p }" class="text-center">
                  <td>{{ categoria.id_categoria }}</td>
                  <td>{{ categoria.descricao | uppercase }}</td>
                  <td *ngIf="categoria.incremento == 1">Sim</td>
                  <td *ngIf="categoria.incremento == 0">Não</td>
                  <td>{{ categoria.ordem }}</td>
                  <td *ngIf="categoria.alteracao == 1">Sim</td>
                  <td *ngIf="categoria.alteracao == 0">Não</td>
                  <td class="text-center"><button class="btn btn-primary" role="button" (click)="insertCategoriaInfoOnFormCadastro(categoria)"><i
                        class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</button></td>
                  <td *ngIf="categoria.ativo == 1" class="text-center"><button class="btn btn-danger" role="button" (click)="changeStatusCategoria(categoria)"><i
                        class="fa fa-trash" aria-hidden="true"></i> Inativar</button></td>
                  <td *ngIf="categoria.ativo == 0" class="text-center"><button class="btn btn-success" role="button" (click)="changeStatusCategoria(categoria)"><i
                        class="fa fa-check" aria-hidden="true"></i> Ativar</button></td>
                </tr>
              </tbody>
            </table>
            <div class="col-lg-12 text-center">
              <pagination-controls 
                (pageChange)="p = $event"
                previousLabel="Anterior"
                nextLabel="Próximo">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.col-lg-12 -->
  </div> <!-- /.row -->
</div>
<!-- /.container-fluid -->
