<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          3 - Configurações
        </div>
        <div class="panel-body">
          <div class="row form-group">
            <div class="col-md-2">
              <label for="sel1">Aberto/Fechado:</label>
              <select name="alteracao" id="alteracao" class="form-control" [(ngModel)]="configuracao.status" >
                <option value="1">Aberto</option>
                <option value="0">Fechado</option>
              </select>
            </div>
            
            <div class="col col-md-2">
              <label for="latitude" class=" form-control-label">Latitude</label>
              <input type="number" id="latitude" class="form-control" [(ngModel)]="configuracao.latitude" >
            </div>

            <div class="col col-md-2">
              <label for="longitude" class=" form-control-label">Longitude</label>
              <input type="number" id="longitude" class="form-control" [(ngModel)]="configuracao.longitude">
            </div>

            <!-- <div class="col col-md-2">
              <label for="distancia_sem_taxa" class=" form-control-label">Distância sem Taxa</label>
              <input type="number" id="distancia_sem_taxa" class="form-control" [(ngModel)]="configuracao.distancia_sem_taxa">
            </div>

            <div class="col col-md-2">
              <label for="distancia_com_taxa" class=" form-control-label">Distância com Taxa</label>
              <input type="number" id="distancia_com_taxa" class="form-control" [(ngModel)]="configuracao.distancia_com_taxa" >
            </div>

            <div class="col col-md-2">
              <label for="preco_entrega" class=" form-control-label">Preço entrega </label>
              <input type="number" id="preco_entrega" class="form-control" [(ngModel)]="configuracao.preco_entrega">
            </div> -->
          </div>

          <div class="row">
            <div class="col col-md-1">
              <button type="submit" class="btn btn-success" (click)="btnSalvarConfiguracoesClick()">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.col-lg-12 -->
  </div> <!-- /.row -->
</div>
<!-- /.container-fluid -->
