<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Perfil
        </div>
        <div class="panel-body">
          <form (ngSubmit)="updateUser()">

            <div class="row form-group">
              <div class="col col-md-5">
                <label for="decricao" class=" form-control-label">Nome</label>
                <input type="text" id="nome" name="nome"  [(ngModel)]="user.name" class="form-control" maxlength="50">
              </div>
              <div class="col col-md-5">
                <label for="email" class=" form-control-label">E-Mail</label>
                <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control" maxlength="50">
              </div>

              <div class="col col-md-2">
                <label for="telefone" class=" form-control-label">Telefone</label>
                <input type="text" id="telefone" name="telefone" [(ngModel)]="user.phone" class="form-control" maxlength="50" [brmasker]="{phone: true}">
              </div>

            </div>
            <div class="row form-group">
              <div class="col col-md-5">
                <label for="senha" class=" form-control-label">Senha</label>
                <input type="password" id="senha" name="senha" [(ngModel)]="user.password" class="form-control" maxlength="50">
              </div>

              <div class="col col-md-2">
                <label for="confirmasenha" class=" form-control-label">Confirma Senha</label>
                <input type="password" id="confirmasenha" name="confirmasenha" [(ngModel)]="user.cpassword" class="form-control" maxlength="50">
              </div>

            </div>
            <div class="row">

              <div class="col col-md-2">
                <button type="submit" class="btn btn-success" >Salvar</button>
              </div>

              <div class="col col-md-2">
                <button type="button" class="btn btn-secondary" (click)="refreshForm()">Cancelar</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
