<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">3.4 - Pedido Por Período</h1>
    </div>
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <div class="row form-group">

              <div class="col-md-4">
                <label for="dataInicial" class=" form-control-label">Data Inicial</label>
                <input type="month" id="dataInicial" name="dataInicial" [(ngModel)]="relatorio.dataInicial" class="form-control">
              </div>

              <div class="col-md-4">
                <label for="dataFinal" class=" form-control-label">Data Final</label>
                <input type="month" id="dataFinal" name="dataFinal" [(ngModel)]="relatorio.dataFinal" class="form-control">
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success" [disabled]="!relatorio.dataInicial || !relatorio.dataFinal"
                  (click)="btnPesquisarClick()">Pesquisar</button>
                &nbsp;
                <button type="button" class="btn btn-secondary" (click)="refreshForm()">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <canvas id="canvasS">{{ chart }}</canvas>
    </div>
    <div class="col-lg-6">
      <canvas id="canvasP">{{ chart }}</canvas>
    </div>
  </div>
</div>
