<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">3.3 - Cardápio</h1>
    </div>
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Cód.</th>
                  <th scope="col" class="text-center">Categoria</th>
                  <th scope="col" class="text-center">Incremento</th>
                  <th scope="col" class="text-center">Alteracao</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let categoria of cardapio | paginate: { itemsPerPage: 10, currentPage: p }" >
                  <tr (click)="btnCollapseClick(categoria)" class="text-center"
                    [ngStyle]="{'background-color': categoria.collapsed ? 'rgb(229, 223, 223)' : '#FFF' }"> 
                    <td>{{ categoria.id_categoria }}</td>
                    <td>{{ categoria.descricao }}</td>
                    <td *ngIf="categoria.incremento">Sim</td>
                    <td *ngIf="!categoria.incremento">Não</td>
                    <td *ngIf="categoria.alteracao">Sim</td>
                    <td *ngIf="!categoria.alteracao">Não</td>
                  </tr>
                  <tr *ngIf="categoria.collapsed" [ngStyle]="{'background-color': categoria.collapsed ? '#f5f5f5' : '#FFF' }"> 
                    <th scope="col" class="text-right">Cód. Produto</th>
                    <th scope="col" class="text-right">Produto</th>
                    <th scope="col" class="text-right">Preco</th>
                    <th scope="col" class="text-right">Ingredientes</th>
                  </tr>
                  <ng-container *ngFor="let produto of categoria.produtos" >
                    <tr class="text-right" *ngIf="categoria.collapsed" [ngStyle]="{'background-color': categoria.collapsed ? '#f5f5f5' : '#FFF' }"> 
                      <td>{{ produto.id_produto }}</td>
                      <td>{{ produto.descricao }}</td>
                      <td>{{ produto.preco_unitario | currency :'BRL' }}</td>
                      <td *ngIf="produto.ingredientes">{{ produto.ingredientes }}</td>
                      <td *ngIf="!produto.ingredientes">Não Possui</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
            <div class="col-lg-12 text-center">
              <pagination-controls 
                (pageChange)="p = $event"
                previousLabel="Anterior"
                nextLabel="Próximo">
              </pagination-controls>
            </div>
        </div>
        <!-- <table fixed>
          <tr>
            <td>
              Click to toggle content 1
              <button (click)="collapsed1=!collapsed1">Toggle me</button>
            </td>
          </tr>
          <tr *ngIf="!collapsed1">
              <td>
                <p>Showing content 1</p>
                <p>Grass is green</p>
              </td>
          </tr>
          <tr>
            <td>
              Click to toggle content 2
              <button (click)="collapsed2=!collapsed2">Toggle me</button>
            </td>
          </tr>
          <tr *ngIf="!collapsed2">
              <td>
                <p>Showing content 2</p>
                <p>The sky is blue</p>
              </td>
          </tr>
        </table> -->
    </div>
  </div>
</div>