<div class="container">
  <div class="row">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <!-- <h1 class="title">Lanche Admin</h1> -->
        <img src="assets/img/logo.png" width="300" height="100">
        <hr />
      </div>
    </div>
    <div class="main-login main-center">
      <form class="form-horizontal" >

        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Usuário</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="username" id="username" placeholder="Informe seu Usuário"
                [(ngModel)]="auth.email" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Senha</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password" placeholder="Informe a Senha"
                [(ngModel)]="auth.password" />
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button type="button" class="btn btn-primary btn-lg btn-block login-button" (click)="autenticateUser(auth)">Entrar</button>
        </div>
      </form>

      <!-- <form class="form-horizontal" >

        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Nome</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="name" id="name" placeholder="Informe seu nome" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">E-Mail</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="email" id="email" placeholder="Informe seu E-Mail" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Usuário</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="username" id="username" placeholder="Informe seu Usuário" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Senha</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password" placeholder="Informe a Senha" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirm" class="cols-sm-2 control-label">Confirma Senha</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirme a Senha" />
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button type="button" class="btn btn-primary btn-lg btn-block login-button">Registrar</button>
        </div>
        <div class="login-register">
          <a (click)="cadastrando = !cadastrando">Login</a>
        </div>
      </form> -->
    </div>
  </div>
</div>
