<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">2.2 - Histórico de Pedidos</h1>
    </div>
    <div class="col-lg-12">
      <div class="">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col" class="text-center">Cód.</th>
              <th scope="col" class="text-center">Cliente</th>
              <th scope="col" class="text-center">Telefone</th>
              <th scope="col" class="text-center">Tipo Pag.</th>
              <th scope="col" class="text-center">Total</th>
              <th scope="col" class="text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pedido of pedidos | paginate: { itemsPerPage: 10, currentPage: p }" class="text-center">
                  <td><a (click)="btnDetalhesPedido(pedido, pedidoDetalhes)">Nº#{{ pedido.id_pedido }}</a></td>
                  <td>{{ pedido.cliente.name | uppercase }}</td>
                  <td>{{ pedido.cliente.phone }}</td>
                  <td *ngIf="pedido.tipo_pagamento == 'cartao'">Cartão</td>
                  <td *ngIf="pedido.tipo_pagamento == 'dinheiro'">Dinheiro</td>
                  <td>{{ pedido.valor_total | currency :'BRL' }}</td>
                  <td class="text-center">
                      <a class="dropdown" dropdown >
                        <a dropdownToggle class="dropdown-toggle">
                          <span style="color: red" *ngIf="pedido.status_pedido == 'Recusado'"> {{ pedido.status_pedido }}</span>
                          <span style="color: rgb(0, 81, 255)" *ngIf="pedido.status_pedido == 'Preparando'"> {{ pedido.status_pedido }}</span>
                          <span style="color: orange" *ngIf="pedido.status_pedido == 'Enviado'"> {{ pedido.status_pedido }}</span>
                          <span style="color: green" *ngIf="pedido.status_pedido == 'Entregue'"> {{ pedido.status_pedido }}</span>
                          &nbsp;<i class="fa fa-caret-down"></i>
                        </a>
                        <ul *dropdownMenu class="dropdown-menu dropdown-user" >
                          <li>
                            <a *ngIf="pedido.status_pedido != 'Preparando' && pedido.status_pedido == 'Recusado'" (click)="btnAlteraStatusPedido(pedido, 'Preparando')">Preparando</a>
                            <a *ngIf="pedido.status_pedido == 'Preparando'" (click)="btnAlteraStatusPedido(pedido, 'Enviado')">Enviado</a>
                            <a *ngIf="pedido.status_pedido == 'Enviado'" (click)="btnAlteraStatusPedido(pedido, 'Entregue')">Entregue</a>
                          </li>
                        </ul>
                      </a>
                    </td>
                </tr>
          </tbody>
        </table>
        <div class="col-lg-12 text-center">
          <pagination-controls
            (pageChange)="p = $event"
            previousLabel="Anterior"
            nextLabel="Próximo">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #pedidoDetalhes>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Pedido Nº #{{ pedido.id_pedido }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-6" *ngFor="let item of pedido.pedido_itens">
        <div class="well">
          <p><span class="opcao-titulo">Produto:</span>  {{ item.produto_nome }}</p>
          <p><span class="opcao-titulo">Quantidade:</span>{{ item.qtde }}</p>
          <p><span class="opcao-titulo">Preço Unitário: </span>{{ item.preco_unitario | currency :'BRL' }}</p>
          <p><span class="opcao-titulo">Preço Total: </span>{{ item.preco_total | currency :'BRL' }}</p>
          <p><span class="opcao-titulo">Acréscimos : </span><span *ngIf="item.incrementos">{{ item.incrementos_item }}</span>
            <span *ngIf="!item.incrementos">Sem Acréscimos</span>
          </p>
          <p><span class="opcao-titulo">Observação: </span><span *ngIf="item.observacao">{{ item.observacao }}</span>
            <span *ngIf="!item.observacao">Sem Observação</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
