<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-2">
              <i class="fa fa-shopping-cart fa-4x"></i>
            </div>
            <div class="col-xs-10 text-right">
              <div class="huge">{{ dashboard?.total_pedidos }}</div>
              <div>Total Pedidos Entregues</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <!-- <div class="col-xs-2">
              <i class="fa fa-dollar fa-3x"></i>
            </div> -->
            <div class="col-xs-12 text-right">
              <div class="huge" style="font-size: 39px;">{{ dashboard?.total_vendas | currency :'BRL' }}</div>
              <div>Vendas Concluídas no Mês</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-2">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <div class="col-xs-10 text-right">
              <div class="huge">{{ dashboard?.total_users }}</div>
              <div>Total Usuários</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-2">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <div class="col-xs-10 text-right">
              <div class="huge">{{ dashboard?.total_novos_users }}</div>
              <div>Novos Usuários no Mês</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
