<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">3.1 - Venda Por Período</h1>
    </div>
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <div class="row form-group">
              <div class="col-md-3">
                <label for="dataInicial" class=" form-control-label">Data Inicial</label>
                <input type="date" id="dataInicial" name="dataInicial" [(ngModel)]="relatorio.dataInicial" class="form-control"
                  required>
              </div>

              <div class="col-md-3">
                <label for="dataFinal" class=" form-control-label">Data Final</label>
                <input type="date" id="dataFinal" name="dataFinal" [(ngModel)]="relatorio.dataFinal" class="form-control"
                  required>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success" [disabled]="relatorio.dataInicial >= relatorio.dataFinal"
                  (click)="btnPesquisarClick()">Pesquisar</button>
                &nbsp;
                <button type="button" class="btn btn-secondary" (click)="refreshForm()">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </div>
</div>