<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="menuSideCollapsed = !menuSideCollapsed"
        [attr.aria-expanded]="false" aria-controls="collapseBasic">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand">Lanche Admin</a> -->
      <a class="navbar-brand" routerLink="/home"><img src="assets/img/logo.png" width="150" height="30"></a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown" dropdown>
        <a dropdownToggle class="dropdown-toggle">
          <span class="badge badge-success">{{ qtdePedidos }}</span>
          <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-messages" role="menu">
          <li>
            <a routerLink="/pedidos">
              <div>
                <strong>Pedidos</strong>
                <span class="pull-right text-muted">
                  <em>Hoje</em>
                </span>
              </div>
              <div><span class="badge badge-success">{{ qtdePedidos }}</span> - Pedidos Aguardando</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown" dropdown>
        <a dropdownToggle class="dropdown-toggle">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-user" role="menu">
          <li><a routerLink="/perfil"><i class="fa fa-user fa-fw"></i> Perfil</a>
          </li>
          <!-- <li><a routerLink="/configuracoes"><i class="fa fa-gear fa-fw"></i> Configuração</a>
          </li> -->
          <li class="divider"></li>
          <li><a (click)="logOff()"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
          </li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
    </ul>
    <div class="navbar-default sidebar" role="navigation">
      <div id="collapseBasic" [collapse]=!menuSideCollapsed class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li>
            <a routerLink="/home"><i class="fa fa-dashboard fa-fw"></i> 0 - Dashboard</a>
          </li>
          <li>
            <a (click)="cadastroCollapsed = !cadastroCollapsed" aria-expanded="false">
              <i class="fa fa-pencil-square-o"></i> 1 - Cadastros
            </a>
            <ul class="nav nav-second-level collapsed" [collapse]=!cadastroCollapsed>
              <li>
                <a routerLink="/categoria">1.1 - Categoria</a>
              </li>
              <li>
                <a routerLink="/ingrediente">1.2 - Ingredientes</a>
              </li>
              <li>
                <a routerLink="/produto">1.3 - Produtos</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>
          <li>
            <a (click)="pedidoCollapsed = !pedidoCollapsed" aria-expanded="false">
              <i class="fa fa-list"></i> 2 - Menu Pedidos
            </a>
            <ul class="nav nav-second-level collapsed" [collapse]=!pedidoCollapsed>
              <li>
                <a routerLink="/pedidos"> 2.1 - Pedidos</a>
              </li>
              <li>
                <a routerLink="/historicoPedidos"> 2.2 - Histórico de Pedidos</a>
              </li>
            </ul>
          </li>
          <li>
            <a (click)="relatoriosCollapsed = !relatoriosCollapsed" aria-expanded="false">
              <i class="fa fa-line-chart"></i> 3 - Relatórios
            </a>
            <ul class="nav nav-second-level collapsed" [collapse]=!relatoriosCollapsed>
              <li>
                <a routerLink="/vendaPorPeriodo"> 3.1 - Venda Por Período</a>
              </li>
              <li>
                <a routerLink="/vendaPorProdutoPeriodo"> 3.2 - Venda Por Produto Por Período</a>
              </li>
              <li>
                <a routerLink="/cardapio"> 3.3 - Cardápio</a>
              </li>
              <li>
                <a routerLink="/pedidoPorPeriodo"> 3.4 - Pedido Por Período</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
  </nav>
  <div id="page-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
