<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">3.2 - Venda Por Produto Por Período</h1>
    </div>
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <div class="row form-group">
              <div class="col-md-3">
                <label for="dataInicial" class=" form-control-label">Data Inicial</label>
                <input type="date" id="dataInicial" name="dataInicial" [(ngModel)]="relatorio.dataInicial" class="form-control"
                  required>
              </div>

              <div class="col-md-3">
                <label for="dataFinal" class=" form-control-label">Data Final</label>
                <input type="date" id="dataFinal" name="dataFinal" [(ngModel)]="relatorio.dataFinal" class="form-control" required>
              </div>

              <div class="col col-md-3">
                <label for="categoria" class=" form-control-label">Categoria</label>
                <select name="fk_categoria" id="fk_categoria"  [(ngModel)]="relatorio.fk_categoria"
                  class="form-control" (ngModelChange)="zeraQuantidade()" required>
                  <option value="0">Todas</option>
                  <option *ngFor="let categoria of categorias" value="{{categoria.id_categoria}}">{{ categoria.descricao }}</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="quantidade" class=" form-control-label">Quantidade</label>
                <input type="number" id="quantidade" name="quantidade" [(ngModel)]="relatorio.quantidade"
                  [disabled]="relatorio.fk_categoria != 0" class="form-control" required>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success" [disabled]="relatorio.dataInicial >= relatorio.dataFinal || !relatorio.dataInicial || !relatorio.dataFinal "
                  (click)="btnPesquisarClick()">Pesquisar</button>
                &nbsp;
                <button type="button" class="btn btn-secondary" (click)="refreshForm()">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
        <div class="table-responsive" *ngIf="produtos">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">Cód.</th>
                  <th scope="col">Produto</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Qtde</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let produto of produtos | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>{{ produto.id_produto }}</td>
                  <td>{{ produto.produto | uppercase }}</td>
                  <td>{{ produto.categoria | uppercase }}</td>
                  <td>{{ produto.qtde }}</td>
                </tr>
              </tbody>
            </table>
            <div class="col-lg-12 text-center">
              <pagination-controls
                (pageChange)="p = $event"
                previousLabel="Anterior"
                nextLabel="Próximo">
              </pagination-controls>
            </div>
          </div>
    </div>
  </div>
</div>
