<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          1.3 - Produtos
        </div>
        <div class="panel-body">
          <form [formGroup]="produtoForm" novalidate (ngSubmit)="submitProduto()">

            <div class="row form-group">
              <div class="col col-md-3">
                <label for="decricao" class=" form-control-label">Descrição</label>
                <input type="text" id="descricao" class="form-control" formControlName="descricao" maxlength="25">
              </div>

              <div class="col col-md-3">
                <label for="alteracao" class=" form-control-label">Preço Unitário</label>
                <input type="text" name="preco_unitario" id="preco_unitario" 
                  class="form-control" currencyMask formControlName="preco_unitario" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
              </div>

              <div class="col col-md-3">
                <label for="categoria" class=" form-control-label">Categoria</label>
                <select name="fk_categoria" id="fk_categoria" 
                  class="form-control" formControlName="fk_categoria" (change)="verficaCategoriaPermiteIncremento()">
                  <option *ngFor="let categoria of categorias" value="{{categoria.id_categoria}}">{{ categoria.descricao }}</option>
                </select>
              </div>

              <div class="col col-md-1">
                  <label for="categoria" class=" form-control-label">Ingredientes</label>
                  <button type="button" class="btn btn-success" (click)="openIngredienteModal(ingredienteModal)" [disabled]="alterarProduto">+</button>
              </div>

            </div>
            <div class="row">

              <div class="col col-md-1">
                <button type="submit" class="btn btn-success" [disabled]="!produtoForm.valid">Salvar</button>
              </div>

              <div class="col col-md-1">
                <button type="button" class="btn btn-secondary" (click)="refreshForm()">Cancelar</button>
              </div>

            </div>

            {{ produtoForm.errors }}
          </form>
        </div>
      </div>
    </div> <!-- /.col-lg-12 -->
  </div> <!-- /.row -->

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Dados
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Destaques</th>
                  <th scope="col" class="text-center">Cód.</th>
                  <th scope="col" class="text-center">Descrição</th>
                  <th scope="col" class="text-center">Categoria</th>
                  <th scope="col" class="text-center">Preço</th>
                  <th scope="col" class="text-center">Editar</th>
                  <th scope="col" class="text-center">Ativar/Inativar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let produto of produtos | paginate: { itemsPerPage: 10, currentPage: p }" class="text-center">
                  <td><input type="checkbox" name="detalhes" [checked]="produto.destaque" (change)="changeDestaque(produto)"></td>
                  <td>{{ produto.id_produto }}</td>
                  <td>{{ produto.descricao | uppercase }}</td>
                  <td>{{ produto.categoria | uppercase }}</td>
                  <td>{{ produto.preco_unitario | currency :'BRL' }}</td>
                  <td class="text-center">
                    <button class="btn btn-primary" role="button" (click)="insertProdutoInfoOnFormCadastro(produto)">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                    </button>
                  </td>
                  <td *ngIf="produto.ativo == 1" class="text-center">
                    <button class="btn btn-danger" role="button" (click)="changeStatusProdutos(produto)">
                      <i class="fa fa-trash" aria-hidden="true"></i> Inativar
                    </button>
                  </td>
                  <td *ngIf="produto.ativo == 0" class="text-center">
                    <button class="btn btn-success" role="button" (click)="changeStatusProdutos(produto)">
                      <i class="fa fa-check" aria-hidden="true"></i> Ativar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="col-lg-12 text-center">
              <pagination-controls 
                (pageChange)="p = $event"
                previousLabel="Anterior"
                nextLabel="Próximo">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.col-lg-12 -->
  </div> <!-- /.row -->
</div>
<!-- /.container-fluid -->

<ng-template #ingredienteModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ingredientes</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th></th>
                <th scope="col">Cód.</th>
                <th scope="col">Descrição</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ingrediente of ingredientes | paginate: { itemsPerPage: 10, currentPage: pModal }">
                <td><input type="checkbox" [checked]="ingrediente.checked" (change)="ingrediente.checked = !ingrediente.checked"></td>
                <td >{{ ingrediente.id_ingrediente }}</td>
                <td >{{ ingrediente.descricao | uppercase }}</td>
              </tr>
            </tbody>
          </table>
          <div class="col-lg-12 text-center">
            <pagination-controls 
              (pageChange)="pModal = $event"
              previousLabel="Anterior"
              nextLabel="Próximo">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col col-md-1">
        <button type="button" class="btn btn-secondary" (click)="confirmaIngredientes()">Confirma</button>
      </div>

    </div>
  </div>
</ng-template>
